# pydev/.env
db.sqlite3
pydev/myapp/__pycache__/*
pydev/myproject/__pycache__/*
pydev/myapp/migrations/__pycache__/*
pydev/myapp/migrations/*
pydev/log/*.log
pydev/.myvenv/*
pydev/media/audio/*.mp3
pydev/media/pdf/*.pdf
pydev/static/media/pdf_local/*pdf
pydev/accounts/__pycache__/*
pydev/accounts/migrations/__pycache__/*
pydev/accounts/migrations/*
proxy/